<% include ../partials/header %>
  
<section>
  <div>
    <a href="/products/new">New Product</a>
  </div>

  <div class="row">

    <% for ( let product of products ) { %>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <%= product.name %>
            </h5>

            <p>
              <%= product.description %>
            </p>
            
            <p>
              <%= product.price %>
            </p>
          </div>
        </div>
      </div>
    <% } %>

  </div>
</section>

<% include ../partials/footer %>