<% include ../partials/header %>

<section>
  <form action="/products" method="post" novalidate>
    <fieldset>
      <legend>Product Information</legend>

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="product_name" name="name" placeholder="Creepy Leeches" required>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="product_description" name="description" placeholder="Greasy, black, vampires of the deep." required>
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">$</div>
          </div>

          <input type="number" class="form-control" id="product_price" name="price" placeholder="4.99" step="0.01" min="0" required>
        </div>
      </div>
    </fieldset>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Create Product</button>
    </div>
  </form>
</section>

<% include ../partials/footer %>